<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>local.unison-file-sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/unison</string>
		<string>-auto</string>
		<string>-batch</string>
		<string>default</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
